<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'course.css'%}">
    </head>

    <body>
        <header>
            <h1 class="can group highlight">Courses Offered&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
            <nav class="nav nav1 hi b tag">
                <br>
                <a href="pj.html">Home</a>&emsp;&emsp;&emsp;
                <a href="courses.html">Courses</a>&emsp;&emsp;&emsp;
                <a href="text.html">About Us</a>&emsp;&emsp;&emsp;
                <a href="text (1).html">Contact Us</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            </nav>
            <img src="{% static 'insight.PNG'%}" style="width: 350px; height: 110px; position: absolute; top: 5px; left: 350px; ">

        </header>

        <img src="{% static 'course4.jpg'%}" style="width: 400px; height: 400px; position: absolute; top: 200px; left: 1050px; ">
        <img src="{% static 'course8.jpg'%}" style="width: 400px; height: 435px; position: absolute; top: 720px; left: 1050px; ">


        <!-- Section for courses-->
        <section class="grid row">
            <h3 id="spacing"><strong><li>Web Development</li></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="butn butn-alt" href="reges.html">Register</a> </h3>
            <p>Learn how to create a website from scratch</p>
            <hr width="50%" align="left">
            <p><strong>Duration: 6 weeks&nbsp;&nbsp; |&nbsp;&nbsp; Certified Training </strong></p>
            <pre>You will learn -
    > HTML & CSS
    > Bootstrap
    > Javascript
    > PHP
    > SQL
            </pre>
            <br>
        </section>

        <section class="grid row">
            <h3><strong><li>Ethical Hacking</li></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="butn butn-alt" href="reges.html">Register</a></h3>
            <p>Learn to hack and secure web applications</p>
            <hr width="50%" align="left">
            <p><strong> Duration: 6 weeks &nbsp;&nbsp;|&nbsp; &nbsp;Certified Training</strong></p>
            <pre>You will learn - 
    > Basics of Information Security and Computer Networking
    > Information Gathering and Basics of Web Development
    > Introduction to Web VAPT, OWASP and SQL Injections
    > Advanced Web Application Attacks
    > Client Side Attacks
            </pre>
            <br>
        </section>

        <section class="grid row">
            <h3><strong><li>Data Science</li></strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="butn butn-alt" href="reges.html">Register</a></h3>
            <p>Learn the ABCs of Data Science</p>
            <hr width="50%" align="left">
            <p><strong>Duration: 6 weeks&nbsp;&nbsp; | &nbsp;&nbsp;Certified Training</strong></p>
            <pre>You will learn - 
    > Introduction to Data Science
    > Python for Data Science
    > Understanding the statistics for Data Science
    > Predictive Modeling and Basics of Machine Learning
            </pre>
            <br>
        </section>
        
        <section class="grid row">
            <h3><strong><li>Core Java</li></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="butn butn-alt" href="reges.html">Register</a></h3>
            <p>Develop system applications from scratch</p>
            <hr width="50%" align="left">
            <p><strong>Duration: 6 weeks&nbsp;&nbsp; | &nbsp;&nbsp;Certified Training</strong></p>
            <pre>You will learn -
    > Getting started with Java
    > Leveraging Basic Concepts
    > Object Oriented Programming
    > Java App Development
            </pre>
            <br>
        </section>

        <section class="grid row">
            <h3><strong><li>Machine Learning </li></strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="butn butn-alt" href="reges.html">Register</a></h3>
            <p>Learn Machine Learning from scratch and take the first step towards AI</p>
            <hr width="50%" align="left">
            <p><strong>Duration: 6 weeks &nbsp;&nbsp;|&nbsp;&nbsp; Certified Training</strong></p>
            <pre>You will learn - 
    > Introduction to Machine Learning
    > Python for Machine Learning
    > Machine Learning Life Cycle
    > Basics of Ensemble Models
    > Evaluation Metrics
            </pre>
            <br>
        </section>

    
        <!-- Footer -->
        <footer class="footer1 can group">

            <small><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &copy; Sumiksha Gupta</small>
            <br>
            <nav class="nav">
                <a href="pj.html">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="courses.html">Courses</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="text.html">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="contact.html">Contact Us</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </nav>
            <br>
            <br>
        </footer>
    </body>
</html>