<html>
    <head>
        <title>About-us page</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'a.css'%}">
    </head>
    <body>
        <div class="container">
            <div class="about">
                <div class="text">
                    <h1>About us</h1>
                <div class="line"> </div>
                </div>
            </div>
            <div class="content">
                <p>URBAN INSIGHT is the leading software training institute located in India.we have been in this training industry from more than 20 years.we provide high quality education at a very minimal cost,
                    our mission is to create a pool of high quality software professionals who will meet the demanding needs of multinational organizations
                    for tomorrow's challenges.
                    contact details-2568949,6384939.
        
                    </p>

            </div>
        </div>
        <footer>copyright&copy; Nikita shetty 2020 Home|About us|services|contact us</footer>
    </body>
</html>